<%= link_to "Ask Question", new_question_url, :id => "button" %>
<h1> Here are all of the questions posted by users </h1>
  <div class = 'questions'>
    <% @questions.each do |question| %>
      <h2><%= link_to "#{question.title}", question_path(question) %>
      </h2><br>                
    <% end %>
  </div>
